<html lang="en">
<head>
   <link rel="icon" href="../assets/favicon.ico">
  <link rel="shortcut icon" href="../assets/favicon.ico" />
  <script>
    $(document).ready(function(){
      $( ".block1" ).mouseover(function() {
        $(this).addClass( "blur" );
      });
      $( ".block1" ).mouseout(function() {
        $(this).removeClass( "blur" );
      });
      $().UItoTop({ easingType: 'easeOutQuart' });
    }) 
  </script>
</head>
<body class="page1">
 <header> 
  <div class="container_12">
   <div class="grid_12"> 
    <div class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#" class="last"></a>
    </div>
    <!--<h1><a (click)="refresh()"[routerLink]="['/home']"><img src="../assets/logo.png" alt="Boo House"></a> </h1> -->
    <div class="menu_block">

    <nav id="bt-menu" class="bt-menu bt-menu-open">
        <a href="#" class="bt-menu-trigger"></a>
        <ul>
          <li class="active"><a [routerLink]="['/home']"><span>Home</span></a></li>
          <li><a [routerLink]="['/foodMenu']">Food</a></li>
          <li><a [routerLink]="['/clothingMenu']">Clothing</a></li>
          <li><a [routerLink]="['/admin']">Admin</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>         
        </ul>
    </nav>
    
 <div class="clear"></div>
</div>
<div class="clear"></div>
          </div>
      </div>
</header>
</body>
<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
				<div class="intro animate-box">
					<h2>{{title}}</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==============================Content=================================-->

<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
<a   class="block1 ">
  <img src="../assets/pix-slider.jpg" alt="">
  
</a>
<a  class="block1">
  <img src="../assets/jumper1.gif" alt="">

</a>
</div>


</html>