<h1>Angular 4 CRUD Example</h1>
<h3 *ngIf="foodIdToUpdate; else create">
  Update Food for Id: {{foodIdToUpdate}}
</h3>
<ng-template #create>
  <h3> Create New Food </h3>
</ng-template>
<div>
  <form [formGroup]="foodForm" (ngSubmit)="onFoodFormSubmit()">
    <table>

      <tr><td>Enter itemName</td><td><input formControlName="itemName">
        <label *ngIf="foodForm.get('itemName').invalid && processValidation" [ngClass] = "'error'"> itemName is required. </label>
      </td></tr>

      <tr><td>Enter price</td><td><input formControlName="price">
        <label *ngIf="foodForm.get('price').invalid && processValidation" [ngClass] = "'error'"> price is required. </label>
      </td></tr>

      <tr><td>Enter photolink</td><td><input formControlName="photolink">
        <label *ngIf="foodForm.get('photolink').invalid && processValidation" [ngClass] = "'error'"> photolink is required. </label>
      </td></tr>

      <tr><td>Enter Category</td><td><input formControlName="category">
        <label *ngIf="foodForm.get('category').invalid && processValidation" [ngClass] = "'error'"> category is required. </label>
      </td></tr>

      <tr><td>Enter categoryType</td><td><input formControlName="categoryType">
        <label *ngIf="foodForm.get('categoryType').invalid && processValidation" [ngClass] = "'error'"> categoryType is required. </label>
      </td></tr>

      <tr><td colspan="2">
        <button *ngIf="!foodIdToUpdate">CREATE</button>
        <button *ngIf="foodIdToUpdate">UPDATE</button>
        <button (click)="backToCreateFood()" *ngIf="foodIdToUpdate">Go Back</button>
      </td></tr>
    </table>
  </form>
  <br/>
  <div *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" [ngClass] = "'success'">
      Food added successfully.
    </div>
    <div *ngIf="statusCode === 409" [ngClass] = "'success'">
      Food already exists.
    </div>
    <div *ngIf="statusCode === 200" [ngClass] = "'success'">
      Food updated successfully.
    </div>
    <div *ngIf="statusCode === 204" [ngClass] = "'success'">
      Food deleted successfully.
    </div>
    <div *ngIf="statusCode === 500" [ngClass] = "'error'">
      Internal Server Error.
    </div>
  </div>
  <ng-template #processing>
    <img *ngIf="requestProcessing" src="assets/images/loading.gif">
  </ng-template>
</div>

<h3>Food Details</h3>
<table>
  <tr><th> Id</th> <th>ItemName</th> <th>Photolink</th> <th>Price</th>  </tr>
  <tr *ngFor="let food of allFoods" >
    <td>{{food.id}}</td> <td>{{food.itemName}}</td> <td><img src={{food.photolink}}></td> <td>{{food.price}}</td>
    <td><button type="button" (click)="loadFoodToEdit(food.id)">Edit</button> </td>
    <td><button type="button" (click)="deleteFood(food.id)">Delete</button></td>
  </tr>
</table>

