
     <head>
     <title>{{title}}</title>
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
    <script>
        $(document).ready(function(){

          $().UItoTop({ easingType: 'easeOutQuart' });
         $('.gallery a.gal').touchTouch();
         
       }) 
     </script>
    
     </head>
     <body  class="">

<!--==============================header=================================-->
 <header> 
  <div class="container_12">
   <div class="grid_12"> 
    <div class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"> </a>
      <a href="#" class="last"></a>
    </div>
    <!--<h1><a (click)="refresh()"[routerLink]="['/foodCatalogue']"><img src="../assets/logo.png" alt="Boo House"></a> </h1> -->
    <div class="menu_block">

    <nav  id="bt-menu" class="bt-menu bt-menu-open">
        <a href="#" class="bt-menu-trigger"></a>
        <ul>
          <li class="bt-icon "><a (click)="refresh()"[routerLink]="['/home']">Home</a></li>
         <!--<li class="bt-icon"><a href="index-1.html">About</a></li> -->
         <li class="current bt-icon"><a (click)="refresh()"[routerLink]="['/foodMenu']">Catalogue</a></li>
         <li class="bt-icon"><a (click)="refresh()"[routerLink]="['/contact']">Contacts</a></li>
        </ul>
      </nav>
    
 <div class="clear"></div>
</div>
<div class="clear"></div>
          </div>
      </div>
</header>

<!--==============================Content=================================-->

<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
  <div class="container_12">
    <div class="grid_12">
      <h3 class="head2">Our Food catalogues</h3>
    </div>  
    
    
    <div class="tabs tb gallery ">
             <div class="div-nav  ">
             <div class="grid_12">
               <ul id="tabs" class="nav nav-tabs" >
                    <li ><a data-toggle="tab" [routerLink]="['/foodMenu']">Desserts</a></li>
                    <li><a data-toggle="tab" [routerLink]="['/MeatFishPoultry']">Meat, Fish & Poultry</a></li>
                    <li><a data-toggle="tab" [routerLink]="['/DiaryEggsMilk']">Diary, Eggs, & Milk</a></li>
                    <li><a data-toggle="tab" [routerLink]="['/FruitsVegetables']">Fruits & Vegetables</a></li>
                    <li class="active"><a data-toggle="tab" [routerLink]="['/Drinks']">Drinks</a></li>
                   <!-- <li><a data-toggle="tab" href="#menu5">Specials</a></li> -->
                </ul>
             </div>    
             </div>
             <div class="tab-content div-tabs">
  
              <div class="desserts grid_3" *ngFor="let dessert of desserts">
                    <a  class="gal"><img src={{dessert.photolink}} alt=""><span></span></a>
                    <div class="col2"><span class="col3"><a >{{dessert.itemName }}</a></span> R {{dessert.price}}</div>
                  </div>

             </div>
        </div>
  </div>
</div>

       <script>
      $(document).ready(function(){ 
         $(".bt-menu-trigger").toggle( 
          function(){
            $('.bt-menu').addClass('bt-menu-open'); 
          }, 
          function(){
            $('.bt-menu').removeClass('bt-menu-open'); 
          } 
        ); 
      }) 
    </script>
</body>

