<body  class="">
<header> 
  <div class="container_12">
   <div class="grid_12"> 
    <div class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"> </a>
      <a href="#" class="last"></a>
    </div>
    <!--<h1><a (click)="refresh()"[routerLink]="['/foodCatalogue']"><img src="../assets/logo.png" alt="Boo House"></a> </h1> -->
    <div class="menu_block">

    <nav  id="bt-menu" class="bt-menu bt-menu-open">
        <a href="#" class="bt-menu-trigger"></a>
        <ul>
          <li class="bt-icon "><a (click)="refresh()"[routerLink]="['/home']">Home</a></li>
         <!--<li class="bt-icon"><a href="index-1.html">About</a></li> -->
         <li class="bt-icon"><a (click)="refresh()"[routerLink]="['/clothingMenu']">Clothing</a></li>
         <li class="bt-icon"><a (click)="refresh()"[routerLink]="['/foodMenu']">food</a></li>
        <li class="current bt-icon"><a (click)="refresh()"[routerLink]="['/contact']">Contacts</a></li>
        </ul>
      </nav>
    
 <div class="clear"></div>
</div>
<div class="clear"></div>
          </div>
      </div>
</header>

<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>

  <div class="container_12">
    <div class="grid_8">
    <h3>Contact Us</h3>
      <img src="../assets/page2_img.jpg" alt="" class="img_inner fleft">
      <div class="extra_wrapper">
        <h5>ADDITIONAL INFORMATION</h5>
				<p><strong>Phone:</strong>&nbsp;(012) 456-7890<br>
				<strong>Fax:</strong>&nbsp;+27 (012) 456-7890<br>
				<strong>Email:</strong>&nbsp;<a href="#">vietcuong_it@yahoo.com</a>	<br>
				<strong>Address:</strong>&nbsp;<a href="#">118 Burrnet Street Hatfield Pretoria</a>								
				</p>
				<br/>
		
    </div>

  </div>
		</div>
</div>

